n8n/daily-report-v2-native.json
{
  "name": "Outreach Daily Report — v2 Native N8N",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Schedule 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH yesterday_data AS (\n  SELECT\n    SUM(sent_count)::int        AS sent,\n    SUM(replied_count)::int     AS replied,\n    SUM(positive_reply_count)::int AS positive,\n    SUM(bounced_count)::int     AS bounced,\n    COUNT(DISTINCT campaign_id)::int AS campaigns\n  FROM campaign_stats\n  WHERE snapshot_date = CURRENT_DATE - INTERVAL '1 day'\n),\ncampaign_data AS (\n  SELECT json_agg(\n    json_build_object(\n      'campaign_name', sub.campaign_name,\n      'contacted',     sub.contacted,\n      'emails_sent',   sub.emails_sent,\n      'reply_rate_pct', sub.reply_rate_pct,\n      'bounce_rate_pct', sub.bounce_rate_pct\n    ) ORDER BY sub.emails_sent DESC\n  ) AS data\n  FROM (\n    SELECT campaign_name, contacted, emails_sent, reply_rate_pct, bounce_rate_pct\n    FROM v_campaign_performance\n    WHERE status = 'ACTIVE'\n    ORDER BY emails_sent DESC\n    LIMIT 6\n  ) sub\n),\ndomain_data AS (\n  SELECT json_agg(\n    json_build_object(\n      'domain',           domain,\n      'avg_health_7d',    avg_health_7d,\n      'sent_today',       sent_today,\n      'total_daily_limit', total_daily_limit,\n      'capacity_used_pct', capacity_used_pct,\n      'accounts_below_95', accounts_below_95\n    ) ORDER BY domain\n  ) AS data\n  FROM v_deliverability_by_domain\n),\nwarmup_data AS (\n  SELECT row_to_json(ws.*) AS data\n  FROM warmup_stats ws\n  ORDER BY snapshot_date DESC\n  LIMIT 1\n),\nlead_data AS (\n  SELECT json_object_agg(status, cnt) AS data\n  FROM (\n    SELECT status, SUM(count)::int AS cnt\n    FROM lead_status_counts\n    WHERE snapshot_at = (SELECT MAX(snapshot_at) FROM lead_status_counts)\n    GROUP BY status\n  ) sub\n),\ntag_data AS (\n  SELECT json_agg(\n    json_build_object(\n      'tag_name',              tag_name,\n      'contacted_leads',       contacted_leads,\n      'reply_rate_pct',        reply_rate_pct,\n      'positive_of_replies_pct', positive_of_replies_pct,\n      'auto_reply_rate_pct',   auto_reply_rate_pct,\n      'bounce_rate_pct',       bounce_rate_pct\n    ) ORDER BY contacted_leads DESC\n  ) AS data\n  FROM v_performance_by_tag\n  WHERE contacted_leads > 0\n)\nSELECT\n  (SELECT row_to_json(y.*) FROM yesterday_data y)  AS yesterday,\n  (SELECT data FROM campaign_data)                  AS campaigns,\n  (SELECT data FROM domain_data)                    AS domains,\n  (SELECT data FROM warmup_data)                    AS warmup,\n  (SELECT data FROM lead_data)                      AS leads,\n  (SELECT data FROM tag_data)                       AS tags;",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "Postgres All Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 400],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "function num(n) {\n  if (n == null) return '—';\n  return Number(n).toLocaleString('en');\n}\n\nfunction pct(n, d) {\n  if (!d || Number(d) === 0) return '—';\n  return (Number(n) / Number(d) * 100).toFixed(1) + '%';\n}\n\nconst row = $input.first().json;\nconst d = row.yesterday || {};\nconst campaigns = row.campaigns || [];\nconst domains = row.domains || [];\nconst w = row.warmup || {};\nconst leads = row.leads || {};\nconst tags = row.tags || [];\n\nconst yesterday = new Date(Date.now() - 86400000).toISOString().split('T')[0];\n\nconst lines = [];\nlines.push('<b>Outreach Daily Report</b> — ' + yesterday);\nlines.push('');\n\nlines.push('<b>Yesterday</b>');\nlines.push('Sent: <b>' + num(d.sent) + '</b>  |  Campaigns: ' + (d.campaigns || '—'));\nlines.push('Replies: <b>' + num(d.replied) + '</b> (' + pct(d.replied, d.sent) + ')  |  Positive: <b>' + num(d.positive) + '</b> (' + pct(d.positive, d.replied) + ' of replies)');\nlines.push('Bounced: ' + num(d.bounced) + ' (' + pct(d.bounced, d.sent) + ')');\nlines.push('');\n\nif (campaigns.length > 0) {\n  lines.push('<b>Active Campaigns</b>');\n  for (const c of campaigns) {\n    const flag = Number(c.bounce_rate_pct) > 5 ? ' !' : '';\n    lines.push('• ' + c.campaign_name + flag);\n    lines.push('  Contacted: ' + num(c.contacted) + ' | Sent: ' + num(c.emails_sent) + ' | Reply: ' + (c.reply_rate_pct ?? '—') + '% | Bounce: ' + (c.bounce_rate_pct ?? '—') + '%');\n  }\n  lines.push('');\n}\n\nif (tags.length > 0) {\n  lines.push('<b>By Tag</b>');\n  for (const t of tags) {\n    lines.push('• <b>' + t.tag_name + '</b> (' + num(t.contacted_leads) + ' contacted)');\n    lines.push('  Reply: ' + t.reply_rate_pct + '%  Positive/reply: ' + (t.positive_of_replies_pct ?? '—') + '%  Auto: ' + (t.auto_reply_rate_pct ?? '—') + '%  Bounce: ' + t.bounce_rate_pct + '%');\n  }\n  lines.push('');\n}\n\nif (domains.length > 0) {\n  lines.push('<b>Domain Health</b>');\n  for (const dom of domains) {\n    const warn = Number(dom.avg_health_7d) < 97 ? ' ⚠' : '';\n    lines.push('• ' + dom.domain + warn + ': health ' + dom.avg_health_7d + '% | sent today ' + num(dom.sent_today) + '/' + num(dom.total_daily_limit) + ' (' + dom.capacity_used_pct + '%)');\n    if (Number(dom.accounts_below_95) > 0) {\n      lines.push('  ' + dom.accounts_below_95 + ' accounts below 95%');\n    }\n  }\n  lines.push('');\n}\n\nif (w.inbox_percent != null) {\n  lines.push('<b>Warmup</b>');\n  lines.push('Inbox: ' + w.inbox_percent + '%  Spam: ' + w.spam_percent + '%  |  Google: ' + w.google_percent + '%  MS: ' + w.microsoft_percent + '%');\n  lines.push('Total warmup sent: ' + num(w.total_warmup_sent));\n  lines.push('');\n}\n\nlines.push('<b>Lead Pipeline</b>');\nlines.push('Not contacted: ' + num(leads.NOT_CONTACTED) + '  |  Contacted: ' + num(leads.CONTACTED));\nlines.push('Replied: ' + num(leads.REPLIED) + '  |  Bounced: ' + num(leads.BOUNCED) + '  |  Completed: ' + num(leads.COMPLETED));\nlines.push('');\n\nlines.push('<i>Synced from PlusVibe | outreach DB</i>');\n\nreturn [{ json: { message: lines.join('\\n') } }];"
      },
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botREPLACE_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"REPLACE_CHAT_ID\",\n  \"text\": {{ JSON.stringify($json.message) }},\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [960, 400]
    }
  ],
  "connections": {
    "Schedule 08:00": {
      "main": [
        [
          {
            "node": "Postgres All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres All Data": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "outreach" }
  ],
  "_readme": {
    "setup": [
      "1. Create Postgres credential in N8N: Credentials → New → Postgres",
      "   Host: postgres (internal Docker hostname) | Port: 5432 | DB: outreach | User: n8n",
      "   Password: (from .env POSTGRES_PASSWORD)",
      "   Replace REPLACE_WITH_POSTGRES_CREDENTIAL_ID with the new credential ID",
      "2. In Send Telegram node replace REPLACE_BOT_TOKEN and REPLACE_CHAT_ID",
      "3. Activate the workflow"
    ],
    "how_it_works": "N8N runs one Postgres query (CTE) that collects ALL data in a single roundtrip, returns it as JSON columns. Code node formats the HTML message. HTTP Request sends directly to Telegram Bot API. No external scripts needed — entire logic lives in this workflow."
  }
}
