n8n/positive-reply-crm.json
{"updatedAt":"2026-03-21T08:31:31.517Z","createdAt":"2026-01-20T06:40:43.794Z","id":"xOP4Sh9EHSuOW9mO","name":"Positive reply - crm","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-webhook","name":"PlusVibe Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"plusvibe-all-replies","responseMode":"onReceived","options":{}}},{"id":"node-save-email","name":"Save Email to PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,300],"credentials":{"postgres":{"id":"c9KlXUg7wx8149pF","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO emails (id, thread_id, campaign_id, lead_email, from_email, sending_account, subject, body_text, direction, label, is_unread, source, sent_at) VALUES ({{ $json.body.id }}, {{ $json.body.thread_id }}, {{ $json.body.campaign_id }}, {{ $json.body.lead }}, {{ $json.body.from_address_email }}, {{ $json.body.eaccount }}, {{ $json.body.subject }}, {{ $json.body.body.text }}, CASE WHEN {{ $json.body.direction }} = incoming THEN IN ELSE OUT END, {{ $json.body.label }}, {{ $json.body.is_unread }}, webhook, NOW()) ON CONFLICT (id) DO UPDATE SET label = EXCLUDED.label, is_unread = EXCLUDED.is_unread","options":{}}},{"id":"node-get-lead","name":"Get Lead Zoho ID","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[760,300],"credentials":{"postgres":{"id":"c9KlXUg7wx8149pF","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"SELECT zoho_contact_id, first_name, last_name, email FROM leads WHERE email = '{{ $node[\"PlusVibe Webhook\"].json.body.lead }}' AND zoho_contact_id IS NOT NULL LIMIT 1","options":{}}},{"id":"node-if-zoho","name":"Has Zoho Contact?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.zoho_contact_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"node-zoho-token","name":"Get Zoho Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,200],"parameters":{"method":"POST","url":"https://accounts.zoho.com/oauth/v2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"1000.EWBB089L0DYWP5Y1MSAQK83UYI2J3X"},{"name":"client_secret","value":"d71091b3503190d3fe7327a3f2c84f659cd86eaef6"},{"name":"refresh_token","value":"1000.d1a49af9c06a7e558c5f4bcb1cd99e76.20c8006193110609ab5dc1d9833d3b1c"}]},"options":{}}},{"id":"node-zoho-note","name":"Create Zoho Note","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,200],"parameters":{"method":"POST","url":"=https://www.zohoapis.com/crm/v8/Contacts/{{ $node[\"Get Lead Zoho ID\"].json.zoho_contact_id }}/Notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Zoho-oauthtoken {{ $json.access_token }}"}]},"sendBody":true,"contentType":"json","body":"={ \"data\": [{ \"Note_Title\": \"Reply from {{ $node[\"PlusVibe Webhook\"].json.body.lead }}\", \"Note_Content\": \"Subject: {{ $node[\"PlusVibe Webhook\"].json.body.subject }}\n\n{{ $node[\"PlusVibe Webhook\"].json.body.body.text }}\" }] }","options":{}}}],"connections":{"PlusVibe Webhook":{"main":[[{"node":"Save Email to PostgreSQL","type":"main","index":0}]]},"Save Email to PostgreSQL":{"main":[[{"node":"Get Lead Zoho ID","type":"main","index":0}]]},"Get Lead Zoho ID":{"main":[[{"node":"Has Zoho Contact?","type":"main","index":0}]]},"Has Zoho Contact?":{"main":[[{"node":"Get Zoho Token","type":"main","index":0}],[]]},"Get Zoho Token":{"main":[[{"node":"Create Zoho Note","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9fb9afa0-6838-4822-a2c9-d34ca4e1ebe4","activeVersionId":"9fb9afa0-6838-4822-a2c9-d34ca4e1ebe4","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T12:42:55.699Z","createdAt":"2026-03-20T12:42:55.699Z","role":"workflow:owner","workflowId":"xOP4Sh9EHSuOW9mO","projectId":"3fab3b25-bd0f-4168-a91b-c56bf3f680ef","project":{"updatedAt":"2026-03-20T12:42:46.170Z","createdAt":"2026-03-20T12:42:46.170Z","id":"3fab3b25-bd0f-4168-a91b-c56bf3f680ef","name":"leo@systemhustle.com","type":"personal","icon":null,"description":null,"creatorId":"441afe9c-d085-4951-9606-a1fc7b8a7fdc"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T08:31:31.520Z","createdAt":"2026-03-21T08:31:31.520Z","versionId":"9fb9afa0-6838-4822-a2c9-d34ca4e1ebe4","workflowId":"xOP4Sh9EHSuOW9mO","nodes":[{"id":"node-webhook","name":"PlusVibe Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"plusvibe-all-replies","responseMode":"onReceived","options":{}}},{"id":"node-save-email","name":"Save Email to PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,300],"credentials":{"postgres":{"id":"c9KlXUg7wx8149pF","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO emails (id, thread_id, campaign_id, lead_email, from_email, sending_account, subject, body_text, direction, label, is_unread, source, sent_at) VALUES ({{ $json.body.id }}, {{ $json.body.thread_id }}, {{ $json.body.campaign_id }}, {{ $json.body.lead }}, {{ $json.body.from_address_email }}, {{ $json.body.eaccount }}, {{ $json.body.subject }}, {{ $json.body.body.text }}, CASE WHEN {{ $json.body.direction }} = incoming THEN IN ELSE OUT END, {{ $json.body.label }}, {{ $json.body.is_unread }}, webhook, NOW()) ON CONFLICT (id) DO UPDATE SET label = EXCLUDED.label, is_unread = EXCLUDED.is_unread","options":{}}},{"id":"node-get-lead","name":"Get Lead Zoho ID","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[760,300],"credentials":{"postgres":{"id":"c9KlXUg7wx8149pF","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"SELECT zoho_contact_id, first_name, last_name, email FROM leads WHERE email = '{{ $node[\"PlusVibe Webhook\"].json.body.lead }}' AND zoho_contact_id IS NOT NULL LIMIT 1","options":{}}},{"id":"node-if-zoho","name":"Has Zoho Contact?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.zoho_contact_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"node-zoho-token","name":"Get Zoho Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,200],"parameters":{"method":"POST","url":"https://accounts.zoho.com/oauth/v2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"1000.EWBB089L0DYWP5Y1MSAQK83UYI2J3X"},{"name":"client_secret","value":"d71091b3503190d3fe7327a3f2c84f659cd86eaef6"},{"name":"refresh_token","value":"1000.d1a49af9c06a7e558c5f4bcb1cd99e76.20c8006193110609ab5dc1d9833d3b1c"}]},"options":{}}},{"id":"node-zoho-note","name":"Create Zoho Note","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,200],"parameters":{"method":"POST","url":"=https://www.zohoapis.com/crm/v8/Contacts/{{ $node[\"Get Lead Zoho ID\"].json.zoho_contact_id }}/Notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Zoho-oauthtoken {{ $json.access_token }}"}]},"sendBody":true,"contentType":"json","body":"={ \"data\": [{ \"Note_Title\": \"Reply from {{ $node[\"PlusVibe Webhook\"].json.body.lead }}\", \"Note_Content\": \"Subject: {{ $node[\"PlusVibe Webhook\"].json.body.subject }}\n\n{{ $node[\"PlusVibe Webhook\"].json.body.body.text }}\" }] }","options":{}}}],"connections":{"PlusVibe Webhook":{"main":[[{"node":"Save Email to PostgreSQL","type":"main","index":0}]]},"Save Email to PostgreSQL":{"main":[[{"node":"Get Lead Zoho ID","type":"main","index":0}]]},"Get Lead Zoho ID":{"main":[[{"node":"Has Zoho Contact?","type":"main","index":0}]]},"Has Zoho Contact?":{"main":[[{"node":"Get Zoho Token","type":"main","index":0}],[]]},"Get Zoho Token":{"main":[[{"node":"Create Zoho Note","type":"main","index":0}]]}},"authors":"Leonid Shvorob","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T08:31:50.293Z","id":1,"workflowId":"xOP4Sh9EHSuOW9mO","versionId":"9fb9afa0-6838-4822-a2c9-d34ca4e1ebe4","event":"activated","userId":"441afe9c-d085-4951-9606-a1fc7b8a7fdc"}]}}